<%= form_with(model: @list, local: true) do |form| %>


<div class="field py-4 flex">
    <%= form.label :list_title %>
    <div class="text-black px-2">
        <%= form.text_field :list_title %>
    </div>
</div>

<%= form.hidden_field :user_id, value: current_user.id %>


<%= submit_tag("Create/Update List", :class => "bg-green-600 p-1 font-semibold") %>

<%
=begin%>
 <%= form.submit %> 
<%
=end%>

<% end %>
