<%= form_with(model: @list, local: true) do |form| %>


<div class="field">
    <%= form.label :list_title %>
    <%= form.text_field :list_title %>
</div>

<%= form.hidden_field :user_id, value: current_user.id %>



<%= form.submit %>

<% end %>
