<h2><%= @list.list_title %></h2>
<p> by <%= link_to User.find(@list.user_id).name, user_path(User.find(@list.user_id)) %></p> 

<ul>
    <% @items.each do |item| %>
        <li> <%= link_to Musical.find(item.musical_id).title, musical_path(Musical.find(item.musical_id)) %> </li>
        <% if User.find(@list.user_id) == current_user %>
            <button><%= link_to 'Remove', item_path(item), method: :delete %></button>
        <% end %>
    <% end %>
</ul>
<%= link_to 'Add Musical', new_item_path %>
<br>
<p><%= link_to 'Delete List', list_path(@list), method: :delete %></p>