<h2><%= @list.list_title %></h2>
<p> by <%= link_to User.find(@list.user_id).name, user_path(User.find(@list.user_id)) %></p> 

<ul>
    <% @items.each do |item| %>
        <li> <%= link_to Musical.find(item.musical_id).title, musical_path(Musical.find(item.musical_id)) %> </li>
        <% if User.find(@list.user_id) == current_user %>
            <button><%= link_to 'Remove', item_path(item), method: :delete %></button>
        <% end %>
    <% end %>
</ul>
<%
=begin%>
 <%= link_to 'Add Musical', new_item_path %> 
<%
=end%>

<div class="p-1 border-green-300 border-2 mt-4">
<h4>Add Musical</h4>
<%= form_with(model: Item.new, local: true) do |form| %>

<%= form.hidden_field :list_id, value: @list.id %>
<div class="field">
    <%= form.label :musical %>
    <%= form.select :musical_id, options_from_collection_for_select(Musical.all.sort_by {|hash| hash[:title]}, 'id', 'title') %>
</div> 

<%= submit_tag("Add Musical") %>
<% end %>
</div>

<br>
<p><%= link_to 'Delete List', list_path(@list), method: :delete %></p>