<h2><%= @list.list_title %></h2>
<p> by <%= link_to User.find(@list.user_id).name, user_path(User.find(@list.user_id)) %></p> 

<ul class="list-disc list-inside">
    <% @items.each do |item| %>
        <li> <%= link_to Musical.find(item.musical_id).title, musical_path(Musical.find(item.musical_id)) %> </li>
        <% if User.find(@list.user_id) == current_user %>
            <button class="p-0.5 border-red-700 bg-black border-2 rounded ml-4"><%= link_to 'Remove', item_path(item), method: :delete %></button>
        <% end %>
    <% end %>
</ul>
<%
=begin%>
 <%= link_to 'Add Musical', new_item_path %> 
<%
=end%>
<% if User.find(@list.user_id) == current_user %>
    <div class="p-1 border-green-300 border-2 mt-4 max-w-min">
    <h4>Add Musical</h4>
    <%= form_with(model: Item.new, local: true) do |form| %>

    <%= form.hidden_field :list_id, value: @list.id %>
    <div class="field">
        <%= form.label :musical %>
        <div class="text-black px-2">
            <%= form.select :musical_id, options_from_collection_for_select(Musical.all.sort_by {|hash| hash[:title]}, 'id', 'title') %>
        </div>
    </div> 

    <%= submit_tag("Add Musical", :class => "bg-green-600 p-1 font-semibold my-2") %>
    <% end %>
    </div>

    <br>
    <p class="mt-8 text-green-200"> <%= link_to "Edit List", edit_list_path(@list) %> </p>
    <p class="my-4 bg-white text-red-700 font-bold p-2 max-w-min"><%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<br>
<p> <%= link_to 'Back to Lists', lists_path %> </p>
