<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <div class="danger">
    <%= flash[:danger] %>
  </div>
  <div class="actions">
    <div class="field flex py-2">
      <%= form.label :email %> 
      <div class="text-black px-2">
        <%= form.email_field :email %> 
      </div>
    </div>

    <div class="fiel flex pb-2">
      <%= form.label :password %>
      <div class="text-black px-2">
        <%= form.password_field :password %>
      </div>
    </div>

    <%= submit_tag("Log In", :class => "bg-green-600 p-1 font-semibold") %>
    <%
=begin%>
 <%= form.submit "Log in"%> 
<%
=end%>
  </div>
<% end %>