<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<h2>Lists:</h2>
<% if @lists.length != 0 %>
    <ul>
        <% @lists.each do |list| %>
            <li> <%= link_to list.list_title, list_path(list) %> </li>
        <% end %>
    </ul>
<% else %>
    <p>User has no lists. </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
