
<%= form_with(model: @musical, local: true) do |form| %>

<div class="field py-4 flex">
    <%= form.label :title %>
    <div class="text-black px-2">
        <%= form.text_field :title %>
    </div>
</div>

<div class="pb-4">
    <%= form.label :poster %>
    <%= form.file_field :poster %>
</div>

<div class="field pb-4 flex">
    <%= form.label :release_year %>
    <div class="text-black px-2">
        <%= form.number_field :release_year %>
    </div>
</div>

<div class="field pb-4 flex">
    <%= form.label :synopsis %>
    <div class="text-black px-2">
        <%= form.text_field :synopsis %>
    </div>
</div>

<div class="field pb-4 flex">
    <%= form.label "spotify id" %>
    <div class="text-black px-2">
        <%= form.text_field :album_id %>
    </div>
</div>

<%= submit_tag("Create/Update Musical", :class => "bg-green-600 p-1 font-semibold") %>

<%
=begin%>
 <%= form.submit %> 
<%
=end%>

<% end %>

