
<%= form_with(model: @musical, local: true) do |form| %>

<div class="field py-4 flex">
    <%= form.label :title %>
    <div class="text-black px-2">
        <%= form.text_field :title %>
    </div>
</div>

<div class="pb-4">
    <%= form.label :poster %>
    <%= form.file_field :poster %>
</div>

<div class="field pb-4 flex">
    <%= form.label :release_year %>
    <div class="text-black px-2">
        <%= form.number_field :release_year %>
    </div>
</div>

<div class="field pb-4 flex">
    <%= form.label :synopsis %>
    <div class="text-black px-2">
        <%= form.text_area :synopsis, class: "h-24 break-words w-96 lg:h-36" %>
    </div>
</div>

<p class="mb-2">For tracklistings: (leave blank to enter manually)</p>
<div class="field pb-4 px-1 ml-2">
    <div class="flex content-center">
        <%= form.radio_button :album_id, "ID", checked: true %>
        <%= form.label "Spotify ID:", class: "px-1 pb-2 flext content-center" %>
        <div class="text-black px-2">
            <%= form.text_field :album_id %>
        </div>
    </div>
    <%= form.radio_button :album_id, "search" %>
    <%= form.label :search_id, "Search by title" %>
</div>


<%= submit_tag("Create/Update Musical", :class => "bg-green-600 p-1 font-semibold") %>

<%
=begin%>
 <%= form.submit %> 
<%
=end%>

<% end %>

