<%= form_with(model: @musical, local: true) do |form| %>

<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label :poster %>
    <%= form.file_field :poster %>
</div>

<div class="field">
    <%= form.label :release_year %>
    <%= form.number_field :release_year %>
</div>

<div class="field">
    <%= form.label :synopsis %>
    <%= form.text_field :synopsis %>
</div>

<%= form.submit %>

<% end %>
