<h1> <%= @musical.title %> </h1>
<%
=begin%>
 <% if @musical.poster.attached? %>
  <%= image_tag @musical.poster %>
<% end %> 
<%
=end%>
<p> <%= @musical.release_year %> </p>
<h3> Synopsis: </h3>
<p> <%= @musical.synopsis %> </p>
<h3>Creative Team: </h3>
<ul>
    <% @creators.each do |creator|%>
    <li> <%= link_to creator.name, creator_path(creator) %> </li>
    <% end %>
</ul>
<p> <%= link_to "Add Person to Team", '/books/new' %> </p>
<h3> Songs: </h3>

    <% @songs.each do |song| %>
     <p><%= song.track_no %>. <%= song.song_title %></p>
    <% end %>
<p><%= link_to "Add song", '/songs/new' %></p>

<br>
<p> <%= link_to "Edit", edit_musical_path(@musical) %> </p>
<p> <%= link_to 'Delete', musical_path(@musical.id), method: :delete %> </p>

<p> <%= link_to 'Back to Musicals', musicals_path %> </p>