<h1> <%= @musical.title %> </h1>

 <% if @musical.poster.attached? %>
  <%= image_tag @musical.poster %>
<% end %> 

<p> <%= @musical.release_year %> </p>
<h3> Synopsis: </h3>
<p> <%= @musical.synopsis %> </p>
<h3>Creative Team: </h3>
<ul>
    <% @musical.books.each do |book| %>
    <% creator = book.creator %>
        <li> <%= link_to creator.name, creator_path(creator) %> </li>
        <button><%= link_to 'Remove', book_path(book), method: :delete %></button>
    <% end %>
</ul>

<p> <%= link_to "Add Person to Team", '/books/new' %> </p>
<h3> Songs: </h3>

<% if @album != nil %>
 <ol>
   <% @album.tracks.each do |track| %>
     <li>
       <%= track.name %>
     </li>
   <% end %>
 </ol>
<% else %>
<%
=begin%>
 If it doesn't exist on spotify, you can enter songs manually  
<%
=end%>
  <ul style="list-style-type:none;"> 
    <% @songs.each do |song| %>
      <li> <%= song.track_no %>. <%= song.song_title %> </li>
    <% end %>
  </ul>
    <p><%= link_to "Add song", '/songs/new' %></p>
<% end %>

<br>
<p> <%= link_to "Edit", edit_musical_path(@musical) %> </p>
<p> <%= link_to 'Delete', musical_path(@musical.id), method: :delete %> </p>

<p> <%= link_to 'Back to Musicals', musicals_path %> </p>


