<h1 class="font-bold text-xl my-4 grid justify-center"> <%= @musical.title %> </h1>
<div class="grid grid-cols-2 justify-between">
  <div class="info mr-10">

    <p class="my-2"> Year: <%= @musical.release_year %> </p>
    <h3> Synopsis: </h3>
    <p> <%= @musical.synopsis %> </p>
  </div>

  <div class="poster grid justify-center place-items-center">
    <% if @musical.poster.attached? %>
      <%= image_tag @musical.poster %>
    <% end %> 
  </div>
</div>

<h3 class="mt-8">Creative Team: </h3>
<ul class="mt-4 list-disc list-inside">
    <% @musical.books.each do |book| %>
    <% creator = book.creator %>
        <li> <%= link_to creator.name, creator_path(creator) %> </li>
        <button class="p-0.5 border-red-700 border-2 rounded"><%= link_to 'Remove', book_path(book), method: :delete %></button>
    <% end %>
</ul>

<%
=begin%>
 <p> <%= link_to "Add Person to Team", '/books/new' %> </p> 
<%
=end%>
<div class="p-1 border-green-300 border-2 mt-4 max-w-min">
<h4>Add Person</h4>
<%= form_with(model: Book.new, local: true) do |form| %>

  <%= form.hidden_field :musical_id, value: @musical.id %>

    <div class="field">
      <%= form.label :creator %>
      <div class="text-black px-2">
        <%= form.select :creator_id, options_from_collection_for_select(Creator.all.sort_by {|hash| hash[:name]}, 'id', 'name') %>
      </div>
    </div> 

  <%= submit_tag("Add Person", :class=>"bg-green-600 p-1 font-semibold my-2") %>
<% end %>
</div>

<h3 class="mt-8"> Songs: </h3>

<% if @album != nil %>
 <ol class="list-decimal list-inside ml-4">
   <% @album.tracks.each do |track| %>
     <li>
       <%= track.name %>
     </li>
   <% end %>
 </ol>
<% else %>
<%
=begin%>
 If it doesn't exist on spotify, you can enter songs manually  
<%
=end%>
  <ul style="list-style-type:none;"> 
    <% @songs.each do |song| %>
      <li> <%= song.track_no %>. <%= song.song_title %> </li>
      <button remove class="p-0.5 border-red-700 border-2 rounded">Remove</button>
    <% end %>
  </ul>
    <p><%= link_to "Add song", '/songs/new' %></p>
<% end %>

<br>
<h3>On Lists:</h3>
<% if @items.length == 0 %>
  <p>No lists</p>
<% else %>
  <ul>
    <% @items.each do |item| %>
        <li><%= link_to List.find(item.list_id).list_title, list_path(List.find(item.list_id)) %></li>
    <% end %> 
  </ul>
<% end %>
<div class="p-1 border-green-300 border-2 mt-4 max-w-min">
<h4>Add to list</h4>
<%= form_with(model: Item.new, local: true) do |form| %>

  <%= form.hidden_field :musical_id, value: @musical.id %>
  
  <div class="field">
    <%= form.label :list %>
    <div class="text-black px-2">
      <%= form.select :list_id, options_from_collection_for_select(List.select {|list| list.user_id == current_user.id}, 'id', 'list_title') %>
    </div>
  </div> 

  <%= submit_tag("Add to list", :class => "bg-green-600 p-1 font-semibold my-2") %>
<% end %>
</div>

<p class="mt-8 text-green-200"> <%= link_to "Edit", edit_musical_path(@musical) %> </p>
<p class="my-4 bg-white text-red-700 font-bold p-2 max-w-min"> <%= link_to 'Delete', musical_path(@musical.id), method: :delete, data: { confirm: 'Are you sure?' }%> </p>

<p> <%= link_to 'Back to Musicals', musicals_path %> </p>
<br>


