<%= form_with(model: @song, local: true) do |form| %>

<div class="field flex py-4">
    <%= form.label :song_title %>
    <div class="text-black px-2">
        <%= form.text_field :song_title %>
    </div>
</div>

<div class="field flex pb-4">
    <%= form.label :track_no %>
    <div class="text-black px-2">
        <%= form.number_field :track_no %>
    </div>
</div>

<div class="field flex pb-4">
    <%= form.label :musical %>
    <div class="text-black px-2">
        <%= form.select :musical_id, options_from_collection_for_select(Musical.all, 'id', 'title') %>
    </div>
</div> 

<%= submit_tag("Create/Update Song", :class => "bg-green-600 p-1 font-semibold") %>

<%
=begin%>
 <%= form.submit %> 
<%
=end%>

<% end %>