<%= form_with(model: @book, local: true) do |form| %>

<div class="field">
    <%= form.label :musical %>
    <%= form.select :musical_id, options_from_collection_for_select(Musical.all, 'id', 'title') %>
</div> 

<div class="field">
    <%= form.label :creator %>
    <%= form.select :creator, options_from_collection_for_select(Creator.all, 'id', 'name') %>
</div> 

<%= form.submit %>

<% end %>