<%= form_with(model: @creator, local: true) do |form| %>

  <div class="flex py-4">
    <%= form.label :portrait %>
    <div class="px-2">
      <%= form.file_field :portrait %>
    </div>
  </div>

<div class="field pb-4 flex">
    <%= form.label :name %>
    <div class="text-black px-2">
      <%= form.text_field :name %>
    </div>
</div>

<div class="field pb-4 flex">
    <%= form.label :bio %>
    <div class="text-black px-2">
      <%= form.text_field :bio %>
    </div>
</div>

<%= submit_tag("Create/Update Person", :class => "bg-blue-800") %>

<%
=begin%>
 <%= form.submit %> 
<%
=end%>

<% end %>