<h1><%= @creator.name %></h1>


 <% if @creator.portrait.attached? %>
  <%= image_tag @creator.portrait %>
<% end %> 


<h2> Biography: </h2>
<p> <%= @creator.bio %> </p>

<h2 class="mt-8"> Musicals: </h2>

<ul class="mt-2 list-disc list-inside">
    <% @books.each do |book| %>
        <li> <%= link_to book.musical.title, musical_path(book.musical) %> </li>
        <button class="p-0.5 border-red-700 border-2 rounded"> <%= link_to 'Remove Musical', book_path(book), method: :delete %> </button>
    <% end %>
</ul>

<%
=begin%>
 <p> <%= link_to "Add Musical to Person", '/books/new' %> </p> 
<%
=end%>

<div class="p-1 border-green-300 border-2 mt-4 max-w-min">
<h4>Add Musical</h4>
<%= form_with(model: Book.new, local: true) do |form| %>

    <%= form.hidden_field :creator_id, value: @creator.id %>

    <div class="field">
        <%= form.label :musical %>
        <div class="text-black px-2">
            <%= form.select :musical_id, options_from_collection_for_select(Musical.all.sort_by {|hash| hash[:title]}, 'id', 'title') %>
        </div>
    </div> 

    <%= submit_tag("Add Musical", :class => "bg-green-600 p-1 font-semibold my-2") %>

<% end %>
</div>

<p class="mt-8 text-green-200"> <%= link_to "Edit Person", edit_creator_path(@creator) %> </p>

<p class="my-4 bg-white text-red-700 font-bold p-2 max-w-min"> <%= link_to 'Delete', creator_path(@creator.id), method: :delete, data: { confirm: 'Are you sure?' } %> </p>

<p> <%= link_to 'Back to Creators', creators_path %> </p>
<br>