<h1><%= @creator.name %></h1>


 <% if @creator.portrait.attached? %>
  <%= image_tag @creator.portrait %>
<% end %> 


<h2> Biography: </h2>
<p> <%= @creator.bio %> </p>

<h2> Musicals: </h2>
<ul>
    <% @musicals.each do |musical|%>
    <li> <%= link_to musical.title, musical_path(musical) %> </li>
    <% end %>
</ul>

<p> <%= link_to "Add Musical to Person", '/books/new' %> </p>

<p> <%= link_to "Edit Person", edit_creator_path(@creator) %> </p>

<p> <%= link_to 'Delete', creator_path(@creator.id), method: :delete %> </p>

<p> <%= link_to 'Back to Creators', creators_path %> </p>