<!DOCTYPE html>
<html>
  <head>
    <title>KintoTheWoods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <br>
  <%
=begin%>
 delete br later during styling  
<%
=end%>
    <% if current_user %>
      Hi <%= current_user.name %>
      <%= link_to 'Log out', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', login_path %>
      <%= link_to 'Sign up', new_user_path %>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
